<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="plugin">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
			<file>./sirrus-cloud.php</file>
        </whitelist>
    </filter>

	<logging>
        <log type="coverage-html" target="./coverage/php" />
        <log type="coverage-clover" target="./coverage/php/clover.xml" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
